/* detail */
.blog-detail__page {
  padding: 8px 0 304px;
}

.blog__detail {
  padding-top: 17px;
}

.article h1 {
  font-size: 48px;
  line-height: 67px;
  margin-bottom: 5px;
}

.article__eng {
  font-size: 28px;
  line-height: 37px;
}

.article__date {
  font-size: 16px;
  line-height: 1.5;
}

.article.blog__article {
  max-width: calc(75% - 15px);
  flex: 0 0 75%;
}

.sidebar.blog__sidebar {
  max-width: calc(25% - 15px);
  flex: 0 0 25%;
}

.blog__detail .image__wrapper {
  max-width: 100%;
}

.blog__detail .tags {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

.blog__sidebar .tag .section__title {
  font-size: 28px;
  line-height: 1.5;
  color: var(--main-theme-color);
  margin-bottom: 11px;
}

.blog__detail .article__description {
  padding: 24px 0 36px;
}

.article__navigation {
  border-top: 1px solid #707070;
}

.article__navigation a {
  /* font-size: 19px;
  line-height: 26px; */
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: contain;
}

.article__navigation--pre {
  background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/icon-undo.svg');
  padding-left: 26px;
}

.article__navigation--next {
  background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/icon-redo.svg');
  background-position-x: right;
  padding-right: 26px;
}

.article__navigation--pre:hover {
  background-position-x: 2%;
}

.article__navigation--next:hover {
  background-position-x: 98%;
}

.article__share .text {
  margin-right: 3px;
}

@media (max-width: 768px) {
  .blog-detail__page {
    padding: 8px 0 180px;
  }
  
  .blog__detail {
    position: relative;
    padding-top: 8px;
  }
  
  .article h1 {
    font-size: 32px;
    line-height: 45px;
  }

  .article__subject {
    margin-bottom: 16px;
  }
  
  .article__eng {
    font-size: 16px;
    line-height: 21px;
  }
  
  .article__date {
    font-size: 14px;
    line-height: 19px;
  }

  .blog__detail .article__description {
    font-size: 16px;
    line-height: 1.5;
    padding: 16px 0 24px;
  }

  .blog__sidebar .tag .section__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 6px;
  }
  
  .blog__detail .tags {
    font-size: 16px;
    line-height: 21px;
  }

  .article__share {
    padding-bottom: 16px;
  }

  .article__navigation {
    padding-top: 16px;
  }

  .article__operation {
    position: absolute;
    width: 100%;
  }
}

@media (max-width: 375px) {
  .blog-detail__page {
    padding: 6px 0 56px;
  }
  
  .blog__detail {
    position: relative;
    padding-top: 8px;
  }
  
  .article h1 {
    font-size: 20px;
    line-height: 28px;
    color: var(--main-theme-color);
  }

  .article__subject {
    margin-bottom: 19px;
  }
  
  .article__eng {
    font-size: 14px;
    line-height: 19px;
  }

  .blog__sidebar .tag .section__title {
    margin-bottom: 10px;
  }

  .article__description {
    display: block;
  }

  .article__navigation {
    padding-top: 8px;
  }

  .article__operation {
    position: relative;
  }

  .article__navigation a {
    margin-bottom: 8px;
  }

  .article__navigation--next {
    background-position-x: left;
    padding-left: 26px;
    padding-right: 0;
  }

  .article.blog__article,
  .sidebar.blog__sidebar {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .blog__sidebar .tags li {
    margin-right: 8px;
  }
  .blog__sidebar .section.tag .image__wrapper {
    width: 24px;
  }
}