/* 
  Common
*/
.section {
  font-size: 24px;
}

.section__title {
  font-size: 48px;
  line-height: 1.5;
  color: var(--secondary-theme-color);
}

.container {
  max-width: 1110px; /* 12x65+11x30 */
  width: 100%;
  margin: 0 auto;
}

/* 
  Page
*/
.header {
  /* font-family: 'Noto Sans', sans-serif; */
  font-size: 28px;
  color: var(--header-color);
  background-color: var(--header-bg-color);
  padding: 30px 88px;
}

.menu__item {
  padding: 10px 32px;
}

.menu__link {
  font-size: 20px;
  line-height: 1.5;
}

.banner {
  height: var(--banner-height);
  background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--secondary-theme-color);
}

.banner__title {
  /* 1.5 */
  font-size: 64px;
  line-height: 96px;
}

.banner__subTitle {
  font-size: 36px;
  line-height: 54px;
}

/* .header .wrapper {
  height: 100%;
} */

.service {
  background-color: var(--light-red-bg-color);
}

.service__item {
  width: 50%;
  padding: 0 34px;
}

.service .section__title,
.classic .section__title,
.crossover .section__title,
.recommend .section__title {
  margin-bottom: 60px;
}

.service__item h4 {
  font-size: 24px;
  line-height: 1.5;
  color: var(--secondary-theme-color);
  margin-bottom: 4px;
}

.service__item p {
  font-size: 16px;
  line-height: 1.5; /* 24 */
}

.service__item .image__wrapper {
  width: 100px;
  height: 100px;
}

/* .service__item img {
  width: 100%;
  height: 100%;
} */

.service__item span {
  word-break: keep-all;
}

.classic__item h3 {
  font-family: Roboto, sans-serif;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 900;
  font-style: italic;
  color: var(--main-theme-color);
  text-transform: uppercase;
}

.classic__category {
  padding: 0 30px;
}

/* .classic__category:nth-child(odd) h3 {
  margin-left: 30px;
}

.classic__category:nth-child(even) h3 {
  margin-right: 30px;
} */

.classic__item .image__wrapper {
  width: 635px;
  height: 320px;
}

.classic__item .image__wrapper img {
  height: 100%;
}

.classic__icon {
  display: inline-block;
}

.classic__icon img {
  /* vertical-align: baseline; */
}

.crossover {
  height: 743px;
  background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.crossover .section__title {
  color: #FFFFFF;
}

.crossover__item .image__wrapper {
  width: 540px;
  height: 472px;
  position: relative;
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}

.crossover__item .image__wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.crossover__title {
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  line-height: 1.5;
  position: absolute;
  color: var(--main-theme-color);
}

.recommend {
  font: 14px/1.5 'Roboto', sans-serif;
}

.recommend__item {
  width: calc((100% - (30 * 3px)) / 4);
  /* padding: 0 15px; */
}

.recommend__item .card__body {
  padding: 14px 16px 15px;
}

.recommend__item img {
  height: fit-content;
}

.recommend__item h5 {
  color: #212529;
  margin-bottom: 7px;
}

.recommend__item p {
  font-size: 16px;
  line-height: 1.5;
  color: #212529;
  margin-bottom: 10px;
}

.recommend__item span {
  color: #707070;
}

.contact {
  background-color: var(--light-red-bg-color);
}

.contact p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.contact .section__title {
  color: #000000;
}

.form__wrapper {
  /* max-width: 730px; */
  padding: 0px 190px;
}

#contactForm label {
  font-size: 16px;
  line-height: 1.5;
  display: block;
  margin-bottom: 4px;
}

#contactForm input[type="submit"] {
  padding: 16px 143px;
}

.form__item[data-field="suggestion"] {
  margin-bottom: 42px;
}

.footer {
  color: var(--footer-color);
  background-color: var(--footer-bg-color);
  padding: 36px 0 28px;
}

.footer nav {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 20px;
}

.footer .menu__item {
  padding: 0 24px;
  /* transition: all .3s linear; */
}

.footer .menu__item:first-child {
  padding-left: 0;
}

.footer .menu__item:last-child {
  padding-right: 0;
}

.footer .menu__link {
  font-size: 16px;
  line-height: 1.5;
}

.socialMedia__link {
  transition: all .3s linear;
}

.socialMedia__link:hover {
  transform: scale(1.1, 1.1);
}

.copyright__wrapper {
  padding: 24px 0 28px;
}

.copyright .logo__img {
  margin-right: 38px;
}

.copyright p {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.contactMethod__list {
  margin-top: 18px;
}

.contactMethod__tel {
  margin-bottom: 17px;
}

.contactMethod__link {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 1.5;
  vertical-align: middle;
}

.contactMethod__tel .icon {
  margin-right: 17px;
}

.contactMethod__mail .icon {
  margin-right: 6px;
}

.legal__item {
  display: inline-block;
}

.legal__item:not(:last-child) {
  margin-right: 62px;
}

.legal__link {
  font-size: 14px;
  line-height: 1.5;
}