:root {
  --dark-brown-color: #5F3E2D;
  --light-brown-color: #B75929;
}

.product__page {
  font-family: 'Roboto', sans-serif;
}

.productList {
  padding: 88px 0 156px;
}

.tab__list {
  margin: 0 auto;
}

.tab__item {
  position: relative;
  border: 1px solid #DCDCDC;
  width: 25%;
  /* to remove space between inline block */
  /* margin-right: -4px; */
}

/* .tab__item--optical {
  padding-left: 117px;
  padding-right: 117px;
}

.tab__item--sunglasses {
  padding-left: 72px;
  padding-right: 72px;
}

.tab__item--functional {
  padding-left: 82px;
  padding-right: 82px;
} */

.tab__link {
  font-size: 42px;
  line-height: 1.5;
}

.tab--active::after {
  content: '';
  width: 100%;
  height: 16px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--tab-active-border-color);
}

.banner__item {
  /* width: 50%; */
  width: calc(50% - 15px);
  /* margin-right: -4px; */
  /* margin: 0 auto; */
  /* padding: 0 15px; */
}

.banner__item .image__wrapper {
  width: 100%;
}

.section__title {
  font-size: 42px;
  line-height: 1.5;
}

.section__subTitle {
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
  line-height: 1.5;
}

#sunglasses,
#optical {
  display: none;
  /* opacity: 0; */
  /* visibility: hidden; */
}

#optical:target {
  display: block;
  /* opacity: 1; */
}

#sunglasses:target {
  display: block;
  /* opacity: 1; */
  /* visibility: visible; */
}

.product__item {
  max-width: calc(25% - 15px);
  flex: 0 0 25%;
}

.product__item:nth-child(-n+8) {
  margin-bottom: 104px;
}

/* .product__item:not(:nth-child(4n)) {
  padding-right: 30px;
} */

.product__item .image__wrapper {
  height: 164px;
}

.product__list {
  margin-bottom: 100px;
}

.product__detail {
  font-size: 24px;
  line-height: 1.5;
}

.product__price {
  color: var(--main-theme-color);
}

.product__color {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}

.product__color--darkBrown {
  background-color: var(--dark-brown-color);
}

.product__color--lightBrown {
  background-color: var(--light-brown-color);
}


@media (max-width: 768px) {
  .tab__item {
    width: 33.33%;
    padding: 16px 0;
  }

  .tab--active::after {
    height: 8px;
  }

  .tab__link {
    font-size: 28px;
  }

  .tab__link .image__wrapper {
    display: inline-block;
    width: 32px;
    height: 32px;
  }

  .banner__item {
    width: 50%;
  }

  .banner__item .image__wrapper img {
    height: fit-content;
  }

  .productList {
    padding: 40px 0 104px;
  }

  .section__title {
    font-size: 32px;
  }

  .section__subTitle {
    font-size: 24px;
    margin-bottom: 32px;
  }

  .product__item {
    max-width: calc(50% - 15px);
    flex: 0 0 50%;
  }

  .product__detail > * {
    max-width: 50%;
    flex: 0 0 50%;
  }

  .product__model,
  .product__colors {
    text-align: left;
  }

  .product__price {
    text-align: right;
  }

  .product__item:nth-child(-n+10) {
    margin-bottom: 72px;
  }
}

@media (max-width: 375px) {
  .tab__link {
    font-size: 14px;
    line-height: 19px;
  }

  .tab__link .image__wrapper {
    width: 15px;
    height: 15px;
  }

  .banner__item .image__wrapper {
    height: 144px;
  }

  .banner__item .image__wrapper img {
    height: 100%;
  }

  .productList {
    padding: 30px 0 56px;
  }

  .section__title {
    font-size: 20px;
    line-height: 2.4;
  }

  .section__subTitle {
    font-size: 16px;
    line-height: 2.25;
    margin-bottom: 20px;
  }

  .product__list {
    margin-bottom: 40px;
  }

  .product__item {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .product__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .product__detail {
    font-size: 16px;
    line-height: 1.875;
  }

  .product__color:not(:last-child) {
    margin-right: 4px;
  }

  .productList .pagination__item a {
    font-size: 11px;
    line-height: 1.5;
    padding: 8px 9px;
  }
}