/* 
  Global
*/
:root {
  --black-color: #000;
  --sub-title-color: #A00404;
  --img-size: 324px;
  --ul-border-color: #96A9C4;
  --container-width: 1200px;
  --horizontal-margin: 24px;
  --banner-height: 960px;
  --footer-color: #FFFFFF;
  --footer-bg-color: #000000;
  --brand-color: var(--footer-color);
  --brand-bg-color: var(--footer-bg-color);
  --ul-list-style-color: #891818;

  --main-theme-color: #AA0601;
  --secondary-theme-color: #650300;
  --header-color: #FFFFFF;
  --header-bg-color: var(--main-theme-color);
  --footer-color: #FFFFFF;
  --footer-bg-color: var(--main-theme-color);
  --banner-height: 840px;
  --card-border-color: #DEE2E6;
  --light-red-bg-color: #AA06010D;
  --tab-active-border-color: var(--main-theme-color);
  --pagination-hover-bg-color: #F2F2F2;
}

/* 全域 border box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  /* color: var(--black-color); */
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
textarea {
  background: transparent;
  border: none;
}

textarea {
  resize: none;
}

select {
  -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: inherit;
	font-size: inherit;
	padding: 0;
  border-width: 0;
  /* width: 100%; */
	/* display: none; */
}

/*
  Base
*/
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
}

.btn--primary {
  color: #FFFFFF;
  background-color: var(--main-theme-color);
  transition: all .3s linear;
}

.btn--primary:hover {
  background-color: var(--secondary-theme-color);
}

.link {
  transition: all .3s linear;
}

.link.link--active::after {
  content: '';
  width: 100%;
  /* width: 0; */
  height: 3px;
  background: #FFFFFF;
  position: relative;
  bottom: 0;
  display: block;
  transition: all .3s linear;
}

.link:hover {
  background-color: var(--secondary-theme-color);
}

.image__wrapper img {
  width: 100%;
  height: 100%;
}

/*
 Object
  - prefix `.o` means base objects styles blocks
*/

.card {}

.card--horizontal {
  display: flex;
}

.card__body {
  border: 1px solid var(--card-border-color);
}

.form__item input,
.form__item textarea {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #000000;
  font-size: 16px;
  line-height: 1.5;
}

input[type="search"].has-icon {
  color: inherit;
  height: 24px;
  background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/icon-search.svg');
  background-position: 100% center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.form__item input[type="radio"],
.form__item input[type="checkbox"] {
  width: auto;
}

.pagination a:hover {
  background-color: var(--pagination-hover-bg-color);
}

@media (max-width: 768px) {
  .form__item input,
  .form__item textarea {
    padding: 8px 12px;
    border: 1px solid #000000;
    font-size: 14px;
  }
}

.pagination {
  font-size: 19px;
  line-height: 1.5;
}

.pagination__list {
  display: flex;
  justify-content: center;
}

.pagination__item {
  display: inline-block;
  /* margin-right: -4px; */
  border: 1px solid #555555;
  /* padding: 11px 15px; */
}

.pagination__item a {
  padding: 11px 15px;
}

.pagination--active {
  color: #FFFFFF;
  background-color: #000000;
}

.pagination__previous,
.pagination__next {
  border-left: 1px solid #555555;
  /* padding: 10px 12px 12px 12px; */
}

/* .pagination__previous + .pagination__item {
  border-right: none; 
}

.pagination__next {
  border-left: none; 
} */
 

/*
  Utils
*/

/* font size */
.fw-reg {
  font-weight: 400;
}

.fw-md {
  font-weight: 500;
}

.fw-bd {
  font-weight: 700;
}

.fw-bk {
  font-weight: 900;
}


/* padding */ 
.py-1 {
  padding: 8px 0;
}

.px-2 {
  padding: 0 16px;
}

.py-2 {
  padding: 16px 0;
}

.pt-2 {
  padding-top: 16px;
}

.pl-2 {
  padding-left: 16px;
}

.px-3 {
  padding: 0 24px;
}

.py-3 {
  padding: 24px 0;
}

.py-8 {
  padding: 64px 0;
}

.pl-3 {
  padding-left: 24px;
}

.pl-4 {
  padding-left: 32px;
}

.pb-4 {
  padding-bottom: 32px;
}

.pt-8 {
  padding-top: 64px;
}

.pb-10 {
  padding-bottom: 80px;
}

/* margin */ 
.mb-1 {
  margin-bottom: 8px;
}

.mr-1 {
  margin-right: 8px;
}

.ml-2 {
  margin-left: 16px;
}

.mt-2 {
  margin-top: 16px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mr-6 {
  margin-right: 48px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 56px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mb-11 {
  margin-bottom: 88px;
}

.mb-13 {
  margin-bottom: 104px;
}

/*
  Layout
  - prefix `.l` means layout
*/

/* Block */
.l-block {
  display: block;
}

.l-inline-block {
  display: inline-block;
}

/* FlexBox */
.l-flex {
  display: flex;
}

.l-flex-column {
  flex-direction: column;
}

.l-flex-row-reverse {
  flex-direction: row-reverse;
}

.l-flex-wrap {
  flex-wrap: wrap;
}

.l-flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.l-flex-horizontal--center {
  justify-content: center;
}

.l-flex-horizontal--end {
  justify-content: flex-end;
}

.l-flex-vertical--center {
  align-items: center;
}

.l-flex-horizontal--between {
  justify-content: space-between;
}

.l-flex-both--center {
  justify-content: center;
  align-items: center;
}

.mobile-only {
  display: none;
}

/*
  unusage
*/
.l-flex-auto {
  flex: 1 1 auto;
}

.l-flex-10 {
  flex: 1 1 10%;
}

.l-flex-20 {
  flex: 1 1 20%;
}

.l-flex-30 {
  flex: 1 1 30%;
}

.l-flex-32 {
  flex: 1 1 32%;
}

.l-flex-40 {
  flex: 1 1 40%;
}

.l-flex-49 {
  flex: 1 1 49%;
}

.l-flex-66 {
  flex: 1 1 66%;
}

.l-flex-1 {
  flex: 1 1 100%;
}

.l-flex-2 {
  /* flex: 1 1 50%; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc((var(--container-width) - var(--horizontal-margin)) / 2 );
}

.l-flex-3 {
  /* flex: 1 1 33.33%; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc((var(--container-width) - (var(--horizontal-margin) * 2)) / 3 );
}


/* page */
.container {
  max-width: 1110px; /* 12x65+11x30 */
  width: 100%;
  margin: 0 auto;
}

.header {
  /* font-family: 'Noto Sans', sans-serif; */
  font-size: 28px;
  color: var(--header-color);
  background-color: var(--header-bg-color);
  padding: 30px 88px;
}

.menu__item {
  padding: 10px 32px;
}

.menu__link {
  font-size: 20px;
  line-height: 1.5;
}

.footer {
  color: var(--footer-color);
  background-color: var(--footer-bg-color);
  padding: 36px 0 28px;
}

.footer nav {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 20px;
}

.footer .menu__item {
  padding: 0 24px;
}

.footer .menu__item:first-child {
  padding-left: 0;
}

.footer .menu__item:last-child {
  padding-right: 0;
}

.footer .menu__link {
  font-size: 16px;
  line-height: 1.5;
}

.socialMedia__link {
  transition: all .3s linear;
}

.socialMedia__link:hover {
  transform: scale(1.1, 1.1);
}

.copyright__wrapper {
  padding-top: 24px;
}

.copyright .logo__img {
  margin-right: 38px;
}

.copyright p {
  font-family: 'Roboto', sans-serif;
  /* line-height: 1.5; */
}

.contactMethod__list {
  margin-top: 18px;
}

.contactMethod__tel {
  margin-bottom: 17px;
}

.contactMethod__link {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  line-height: 1.5;
  vertical-align: middle;
}

.contactMethod__tel .icon {
  margin-right: 17px;
}

.contactMethod__tel .contactMethod__link::before {
  content: '';
  background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  height: 48px;
  width: 48px;
  margin-right: 17px;
  vertical-align: middle;
}

.contactMethod__mail .contactMethod__link::before {
  content: '';
  background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/icon-mail.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
  height: 48px;
  width: 48px;
  margin-right: 17px;
  vertical-align: middle;
}

.contactMethod__tel .icon:hover {
  animation: ring .3s linear 3 alternate;
}

.contactMethod__tel .contactMethod__link:hover::before {
  animation: ring .3s linear 3 alternate;
}

.contactMethod__mail .contactMethod__link:hover::before {
  content: '\27A4';
  font-size: 48px;
  background-position: -48px;
  position: relative;
  top: -10px;
  animation: fly .3s linear 3 alternate;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(-15deg);
  }
}

@keyframes fly {
  0% {
    left: 0;
  }

  100% {
    left: 2%;
  }
}

.contactMethod__mail .icon {
  margin-right: 6px;
}

.legal__item {
  display: inline-block;
}

.legal__item:not(:last-child) {
  margin-right: 62px;
}

.legal__link {
  font-size: 14px;
  line-height: 1.5;
}

.banner {
  /* height: var(--banner-height); */
  background-image: url('https://hexschool.github.io/webLayoutTraining1st/week3/qa.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  color: #000000;
  padding-top: 15.83%;
  position: relative;
}

.banner .container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner__title {
  font-size: 48px;
  line-height: 80px;
}

.banner .image__wrapper {
  width: 41px;
}

@media (max-width: 768px) {
  .container {
    max-width: 690px; /* 12x30+11x30 */
  }

  .header {
    padding-left: 39px;
    padding-right: 39px;
  }

  .banner {
    padding-top: 40%;
    background-size: cover;
    background-position: 40% center;
  }

  .menu__item {
    padding: 10px 20px;
  }

  .footer .menu__item {
    padding: 0 20px;
  }

  .footer .logo__wrapper {
    display: none;
  }

  .socialMedia__link {
    width: 24px;
  }

  .socialMedia__item {
    padding: 0 12px;
  }

  .legal__item:not(:last-child) {
    margin-right: 24px;
  }

  .contactMethod__list {
    margin-top: 24px;
  }

  .contactMethod__item .icon {
    margin-right: 10px;
  }

  .contactMethod__item img {
    width: 24px;
  }

  .contactMethod__tel .contactMethod__link::before,
  .contactMethod__mail .contactMethod__link::before {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }

  .contactMethod__mail .contactMethod__link:hover::before {
    font-size: 24px;
    top: -7px;
  }

  .contactMethod__link {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .desktop-only {
    display: none;
  }

  .pagination__item a {
    font-size: 11px;
    line-height: 1.5;
    padding: 8px 9px;
  }

  .container {
    max-width: 345px; /* 4x75+3x15 */
  }

  .banner {
    padding-top: 40%;
    background-size: cover;
    background-position: 40% center;
  }

  .banner__title {
    font-size: 28px;
  }

  .banner .image__wrapper {
    width: 16px;
  }

  .header {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .header .logo__wrapper {
    padding: 10px 0;
  }

  .header .menu__list {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .header .menu__item {
    width: 50%;
    border: 1px solid #FFFFFF;
  }

  .footer {
    padding: 23px 0 22px;
  }

  .footer nav {
    align-items: flex-start;
  }

  .footer .menu__item {
    display: none;
  }

  .footer .logo__wrapper {
    display: inline-block;
    margin-right: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    /* width: 46px; */
  }

  .footer .logo__img {
    width: 46px;
    margin-right: 0;
  }

  .contactMethod__list {
    margin-top: 0;
    order: -1;
  }

  .contactMethod__link {
    font-size: 16px;
    line-height: 30px;
  }
  
  .contactMethod__tel {
    margin-bottom: 7px;
  }

  .contactMethod__tel .contactMethod__link::before,
  .contactMethod__mail .contactMethod__link::before {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }

  .copyright__wrapper {
    position: relative;
    /* padding-top: 18px; */
    flex-direction: column;
    align-items: flex-start;
  }

  .copyright {
    margin-bottom: 7px;
  }

  .copyright p {
    font-size: 12px;
  }

  .legal__item {
    display: block;
  }

  .legal__item:first-child {
    margin-bottom: 8px;
  }
}